    #bgvideo {
        position: fixed;
        min-height: 100%;
        min-width: 100%;
        z-index: -100;
    }
    
    #mynav {
        width: 100%;
        position: fixed;
    }
    
    .body {
        font-family: Vollkorn, sans-serif;
        position: relative;
    }
    
    .navbar-custom {
        font-size: 18px;
        background-color: #5e7084;
        border-color: #506071;
        background-image: -webkit-gradient(linear, left 0%, left 100%, from(#77899e), to(#5e7084));
        background-image: -webkit-linear-gradient(top, #77899e, 0%, #5e7084, 100%);
        background-image: -moz-linear-gradient(top, #77899e 0%, #5e7084 100%);
        background-image: linear-gradient(to bottom, #77899e 0%, #5e7084 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff77899e', endColorstr='#ff5e7084', GradientType=0);
    }
    
    .navbar-custom .navbar-brand {
        color: #808080;
    }
    
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: #676767;
        background-color: transparent;
    }
    
    .navbar-custom .navbar-text {
        color: #808080;
    }
    
    .navbar-custom .navbar-nav>li:last-child>a {
        border-right: 1px solid #506071;
    }
    
    .navbar-custom .navbar-nav>li>a {
        color: #808080;
        border-left: 1px solid #506071;
    }
    
    .navbar-custom .navbar-nav>li>a:hover,
    .navbar-custom .navbar-nav>li>a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    
    .navbar-custom .navbar-nav>.active>a,
    .navbar-custom .navbar-nav>.active>a:hover,
    .navbar-custom .navbar-nav>.active>a:focus {
        color: #ffffff;
        background-color: #506071;
        background-image: -webkit-gradient(linear, left 0%, left 100%, from(#506071), to(#65798e));
        background-image: -webkit-linear-gradient(top, #506071, 0%, #65798e, 100%);
        background-image: -moz-linear-gradient(top, #506071 0%, #65798e 100%);
        background-image: linear-gradient(to bottom, #506071 0%, #65798e 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff506071', endColorstr='#ff65798e', GradientType=0);
    }
    
    .navbar-custom .navbar-nav>.disabled>a,
    .navbar-custom .navbar-nav>.disabled>a:hover,
    .navbar-custom .navbar-nav>.disabled>a:focus {
        color: #cccccc;
        background-color: transparent;
    }
    
    .navbar-custom .navbar-toggle {
        border-color: #dddddd;
    }
    
    .navbar-custom .navbar-toggle:hover,
    .navbar-custom .navbar-toggle:focus {
        background-color: #dddddd;
    }
    
    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #cccccc;
    }
    
    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
        border-color: #4f5e6f;
    }
    
    .navbar-custom .navbar-nav>.dropdown>a:hover .caret,
    .navbar-custom .navbar-nav>.dropdown>a:focus .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }
    
    .navbar-custom .navbar-nav>.open>a,
    .navbar-custom .navbar-nav>.open>a:hover,
    .navbar-custom .navbar-nav>.open>a:focus {
        background-color: #506071;
        color: #ffffff;
    }
    
    .navbar-custom .navbar-nav>.open>a .caret,
    .navbar-custom .navbar-nav>.open>a:hover .caret,
    .navbar-custom .navbar-nav>.open>a:focus .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }
    
    .navbar-custom .navbar-nav>.dropdown>a .caret {
        border-top-color: #808080;
        border-bottom-color: #808080;
    }
    
    @media (max-width: 767) {
        .navbar-custom .navbar-nav .open .dropdown-menu>li>a {
            color: #808080;
        }
        .navbar-custom .navbar-nav .open .dropdown-menu>li>a:hover,
        .navbar-custom .navbar-nav .open .dropdown-menu>li>a:focus {
            color: #ffffff;
            background-color: transparent;
        }
        .navbar-custom .navbar-nav .open .dropdown-menu>.active>a,
        .navbar-custom .navbar-nav .open .dropdown-menu>.active>a:hover,
        .navbar-custom .navbar-nav .open .dropdown-menu>.active>a:focus {
            color: #ffffff;
            background-color: #506071;
        }
        .navbar-custom .navbar-nav .open .dropdown-menu>.disabled>a,
        .navbar-custom .navbar-nav .open .dropdown-menu>.disabled>a:hover,
        .navbar-custom .navbar-nav .open .dropdown-menu>.disabled>a:focus {
            color: #cccccc;
            background-color: transparent;
        }
    }
    
    .navbar-custom .navbar-link {
        color: #808080;
    }
    
    .navbar-custom .navbar-link:hover {
        color: #ffffff;
    }
    
    #navbar {
        color: #fff;
    }
    
    #navbar:hover {
        color: #fff;
    }
    
    #home {
        background-color: transparent;
        color: #fff;
        text-align: center;
        padding-top: 10%;
        font-size: 20px;
    }
    
    .btn {
        background-color: #708296;
        margin-top: 30px;
        color: #fff;
        font-size: 25px;
        padding: 8px;
        border-radius: 8px;
    }
    
    #home h2 {
        margin-top: 30px;
    }
    
    .btn:hover {
        background-color: rgba(110, 128, 149, 0.5);
        margin-top: 30px;
        color: #fff;
        font-size: 25px;
    }
    
    #about {
        color: white;
        text-align: center;
        padding-top: 100px;
    }
    
    #about h2 {
        font-weight: bold;
    }
    
    #about p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .bodyImage {
        height: 120px;
    }
    
    .container {
        max-width: 1000px;
    }
    
    .carousel-item img {
        height: 150px;
        width: 120px;
        object-fit: contain;
    }